* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/* ini navbar */
.background-navy {
    background-color: #1f2937;
    color: #F9FAF8;
}
.header-logo {
    font-size: 24px;
    
}
.link {
    font-size: 18px;
    color: #e5e7eb;
    list-style: none;
    text-decoration: none;
    
}
/* ini bawahnya navbar */
.div1 {
    background-color: #1f2937;
    width: auto;
    height: 500px;

}
.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}
/* ini div buat informasi sama call-to-action button*/
div {
    background-color: white;
}
/* ini quote */
.div3 {
    background-color: #e5e7eb;
}

/* flex boxxx */
nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-top: 5px;
}
.link {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-right: 1rem;
}
.header-logo {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}